.react-dicetray {
    width: 100%;
    height: 100%;
}

.react-dicetray canvas {
    width: 100%;
    height: 100%;
}

.react-dicetray>canvas {
    display: none;
}

.react-dicetray>canvas:last-child {
    display: unset;
}